DO $$
BEGIN
	IF EXISTS (
		SELECT 1 FROM information_schema.columns
		WHERE table_schema = 'public'
		  AND table_name = 'investments'
		  AND column_name = 'payment_option'
	) THEN
		EXECUTE 'ALTER TABLE investments RENAME COLUMN payment_option TO "paymentOption"';
	END IF;
END $$;

DO $$
BEGIN
	IF EXISTS (
		SELECT 1 FROM information_schema.columns
		WHERE table_schema = 'public'
		  AND table_name = 'investments'
		  AND column_name = 'auth_status'
	) THEN
		EXECUTE 'ALTER TABLE investments RENAME COLUMN auth_status TO "authStatus"';
	END IF;
END $$;

DO $$
BEGIN
	IF EXISTS (
		SELECT 1 FROM information_schema.columns
		WHERE table_schema = 'public'
		  AND table_name = 'withdrawals'
		  AND column_name = 'payment_option'
	) THEN
		EXECUTE 'ALTER TABLE withdrawals RENAME COLUMN payment_option TO "paymentOption"';
	END IF;
END $$;

DO $$
BEGIN
	IF NOT EXISTS (
		SELECT 1 FROM information_schema.columns
		WHERE table_schema = 'public'
		  AND table_name = 'userlogs'
		  AND column_name = 'authStatus'
	) THEN
		EXECUTE 'ALTER TABLE userlogs ADD COLUMN "authStatus" TEXT DEFAULT ''unseen''';
	END IF;
END $$;

-- Migration to add credited_roi and credited_bonus fields to investments table
-- Add new columns to track credited amounts
ALTER TABLE investments
ADD COLUMN IF NOT EXISTS credited_roi DECIMAL(15,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS credited_bonus DECIMAL(15,2) DEFAULT 0,
ADD COLUMN IF NOT EXISTS approved_by TEXT,
ADD COLUMN IF NOT EXISTS approved_at TIMESTAMPTZ;

-- Update existing records to have default values
UPDATE investments
SET credited_roi = 0, credited_bonus = 0
WHERE credited_roi IS NULL OR credited_bonus IS NULL;
